@import url('./__text/heading__text.css');

.heading {
  margin-top: 60px;
  width: 1400px;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

@media screen and (max-width: 1600px) {
  .heading {
    width: min(100%, 1240px);
  }
}


@media screen and (max-width: 1280px) {
  .heading {
    width: min(100%, 900px);
  }
}

@media screen and (max-width: 960px) {
  .heading {
    width: min(100%, 750px);
  }
}
