.gallery__price-container {
  display: flex;
  flex-direction: row;
  height: 31px;
  align-items: center;
  margin-top: 12px;
}

@media screen and (max-width: 390px) {
  .gallery__price-container {
    height: 22px;
  }
}
