@import url('./__container/gallery__container.css');
@import url('./__photo/gallery__photo.css');
@import url('./__pic/gallery__pic.css');
@import url('./__discount/gallery__discount.css');
@import url('./__button-container/gallery__button-container.css');
@import url('./__button/gallery__button.css');
@import url('./__text/gallery__text.css');
@import url('./__price-container/gallery__price-container.css');
@import url('./__price/gallery__price.css');
@import url('./__symbol/gallery__symbol.css');
@import url('./__price/_color_orange/gallery__price_color_orange.css');
@import url('./__price/_color_grey/gallery__price_color_grey.css');
@import url('./__price/_style_crossout/gallery__price_style_crossout.css');
@import url('./__symbol/_color_orange/gallery__symbol_color_orange.css');
@import url('./__symbol/_color_grey/gallery__symbol_color_grey.css');

.gallery {
  margin-top: 40px;
  margin-bottom: 60px;
  width: 1400px;
  height: 1180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 40px;
  row-gap: 50px;
}
