@import url('./__container/header__container.css');
@import url('./__text/header__text.css');

.header {
  width: 1400px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


@media screen and (max-width: 1600px) {
  .header {
    width: min(100%, 1240px);
  }
}

@media screen and (max-width: 1280px) {
  .header {
    width: min(100%, 900px);
  }
}

@media screen and (max-width: 960px) {
  .header {
    width: min(100%, 750px);
  }
}

@media screen and (max-width: 770px) {
  .header {
    display: none;
  }
}
