.intro__container {
  width: 479px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 1280px) {
  .intro__container {
    width: 300px;
  }
}

@media screen and (max-width: 770px) {
  .intro__container {
    display: none;
  }
}
