@import url('./__logo/intro__logo.css');
@import url('./__container/intro__container.css');
@import url('./__text/intro__text.css');
@import url('./__div/intro__div.css');
@import url('./__search/intro__search.css');
@import url('./__search-text/intro__search-text.css');
@import url('./__search-button/intro__search-button.css');
@import url('./__search-white/intro__search-white.css');
@import url('./__basket/intro__basket.css');
@import url('./__basket-container/intro__basket-container.css');
@import url('./__basket-button/intro__basket-button.css');
@import url('./__counter/intro__counter.css');
@import url('./__basket-text/intro__basket-text.css');
@import url('./__menu/intro__menu.css');


.intro {
  position: relative;
  width: 1400px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media screen and (max-width: 1600px) {
  .intro {
    width: min(100%, 1240px);
  }
}

@media screen and (max-width: 1280px) {
  .intro {
    width: min(100%, 900px);
  }
}

@media screen and (max-width: 960px) {
  .intro {
    width: min(100%, 750px);
  }
}


@media screen and (max-width: 770px) {
  .intro {
    width: min(100%, 680px);
    height: 60px;
  }
}

@media screen and (max-width: 720px) {
  .intro {
    width: min(100%, 500px);
  }
}

@media screen and (max-width: 540px) {
  .intro {
    width: min(100%, 380px);
  }
}


@media screen and (max-width: 390px) {
  .intro {
    width: min(100%, 320px);
    height: 56px;
  }
}
