.footer__logo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 322px;
  align-items: start;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .footer__logo-container {
    width: 250px;
  }
}
