.intro__div {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  width: 328px;
  height: 39px;
  justify-content: space-between;
}


@media screen and (max-width: 1600px) {
  .intro__div {
    width: 200px;
  }
}

@media screen and (max-width: 770px) {
  .intro__div {
    display: none;
  }
}
