.gallery__price {
  margin: 0;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 22px;
  line-height: 30.8px;
  color: #231815;
}


@media screen and (max-width: 390px) {
  .gallery__price {
    font-size: 16px;
    line-height: 22.4px;
  }
}
